@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#f1d8c9,#f2c3a7);
}

main{
    background-color: white;
    width: 600px;
    box-shadow: 5px 8px #ab7454c4;
    padding: 10px;
    margin: auto;
    border-radius: 10px
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #c5770ad7;;
}

h2{
    color: #12528ac1;
}

p{
    text-align: justify;
}