@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Passion+One:wght@400;700;900&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fonte1:'Caveat', 'cursive';
    --font2:'Sricacha','cursive';
    --fonte3:'verdana',Geneva,tahoma,sans-serif;
}

html,body{
    min-height: 100vh;
    
    background-color: rgb(185, 182, 182);

}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font3)
}

header > h1{
   padding-top: 40px; 
   font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-family: var(--fonte1);
    /*font-optical-sizing: auto;*/
    font-weight: 700;
    font-style: normal;
    font-size: larger;
}

section.imagem > p{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.149);
}

section.imagem2 > p{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.149);
}

section.normal{
    background-color: white;
}

section.imagem{
    background: white url('imagens/background001.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center center;
    color: white;
}

section.imagem2{
    background: white url('imagens/background002.jpg') no-repeat fixed;
    background-size: auto;
    background-position: center;
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 5px;
    font-family: var(--font3);
}

footer > p{
    font-variant: small-caps;
}

