@charset "UTF-8";

@import url('https://fonts.googleleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('./pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-padrao: Arial, helvetica, verdana,sans-serif;
    --font-destaque:'Bebas Neue', 'cursive';
    --font-android:'Android', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

header{    
    background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
    background-color: var(--cor4);
    height: 150px;
    text-align: center;
}

header >p{
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--font-padrao);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.748);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
}

nav > a{
    color: var(--cor1);
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
}

nav > a:hover{
    background-color: var(--cor4);
    transition-duration: 0.5s;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1020px;
    padding: 25px;
    margin-bottom: 40px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.486);
    /*border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
}

header > h1 {
    color:white;
    font-family: var(--font-destaque);
    padding-top: 25px;
    margin-bottom: 10px;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.748);
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
}

main h2{
    font-family: var(--font-android);
} 

main h2{
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right,var(--cor1),transparent);
}

main p{
   margin: 15px 10px; 
   text-indent: 30px;
}
main strong{
    color: var(--cor3);
    font-weight: bold;
    padding: 2.5px 6px ;
}

main a{
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 2.5px 6px ;
    font-weight: bold;

}

main a :hover{
    color: var(--cor4);
    text-decoration: underline;
}
main a::after{
    content: '\00A0\1F517';
}
main img{
    width: 100%;
}

article iframe{
    width: 100%;
}

div.video{
    background-color: var(--cor4);
    margin: 0px -25px 30px -25px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    bottom: 10%;
    width: 90%;
    height: 90%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.608);
}

aside h3{
    padding: 5px;
    margin: -10px -10px 0px -10px;
    color: white;
    background-color: var(--cor4);
    font-family: var(--font-destaque);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside p.this{
    /*background-color: var(--cor1);
    margin: 0px;*/
}

aside ul{
    /*list-style-type: '\271';*/
    list-style-position: inside;
    columns:2;
    /*background-color: var(--cor1);
    display: block;
    list-style-type:disc;
    margin-block-end: 16px;
    padding-inline-start: 30px;
    unicode-bidi: isolate;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

footer{
    background-color: var(--cor5);
    color: white;
}

footer p{
    text-align: center;
}