    @charset "UTF-8";
    body{
        background-color: moccasin;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h1{
        color:black;
        background-color:rosybrown;
        font-size: 20px;
    }
    h2{
        color: black;
        background-color: beige;
        font-size: 0.9em;
    }
    p{
        text-align: justify;
    }